body {
  font-family: arial, verdana, sans-serif;
  overflow: hidden;
}

header, footer { text-align:center; width: 100%; }

header {
  height: 40px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#929292;
}

footer {
  margin-top: 20px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 728px;
}

#videoplayer {
  position: relative;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.95);
  border: 2px #ccc solid;
  width: 640px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
   -webkit-transition: all 2s ease-in-out;
   -moz-transition: all 2s ease-in-out;
   -o-transition: all 2s ease-in-out;
   -ms-transition: all 2s ease-in-out;
   transition: all 2s ease-in-out;
  
}
#containerVideoGame{
  display:block;
  position: absolute;
  background-color:black;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.95);
  
  width: 100%;
  height: 100%;
  left:-100%;
  top:0%;
  font-size:10em;
  color:#929292;
  

  -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
  }

#content-wrapper {
  position:relative;
  top: 0px;
  left: 0px
}

#playpause {
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 40px;
  width: 100px;
  border-style: none;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  line-height: 0;
}

#playpause:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#fullscreen {
  position: absolute;
  bottom: 20px;
  left: 140px;
  height: 40px;
  width: 100px;
  border-style: none;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 5px;
  border: 1px transparent solid;
  color: #000;
  cursor: pointer;
  line-height: 0;
}

#fullscreen:hover {
  border: 1px #f00 solid;
  color: #f00;
}

#content {
  overflow: hidden;
}

#content, #adcontainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 360px;
}

#console {
display:none;
  font-family: courier, monospace;
  font-size: 12px;
  margin-top: 20px;
  height: 200px;
  width: 630px;
  padding: 5px;
  border: 1px #ccc solid;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
}

#companionDiv {
  width: 728px;
  height: 90px;
  margin-top: 20px;
}

.urlLink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
