 

/**
 * @author Hakim El Hattab
 */


/**
 * 
 */
#logo,
#cursor,
#level-selector li,
#start-button,
#mute-button2,
#pause-button2 {
	background: url("../images/uiSprite.png") no-repeat top left;
}

a {
	text-decoration: none;
	color: #fff;
}

/**
 * 
 */
html, body {
	background: #000000;
	width: 100%;
	height: 100%;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

#game {

        left:-1500px;
	position: absolute;
	width: 100%;
	height: 100%;
	/*min-height: 400px;/*600px*/
	/**/overflow: hidden;
	
}

/**
 * 
 */
canvas {
	position: relative;
}

#background {
	
	/*background-image: url("images/intro.jpg");*/
	background-position: center center;
	background-repeat: no-repeat;
	 background-size: 1000px 100%;
	
	
}

#boss
{
	width: 320px;
	height: 189px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -158px;
	/*background-image: url(../media/images/gameBoss.png);*/
	background-repeat: no-repeat;
	
	 background-size: 320px 189px;
}

#player
{
	width: 790px;
	height: 496px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -300px;
	/*background-image: url(../media/images/gamePlayer.png);*/
	background-repeat: no-repeat;
}

#preloader {
	width: 100px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 0 0.1em white;
	text-align: center;
}

#cursor {
	width: 30px;
	height: 29px;
	position: absolute;
	display: none;
	background-position: -578px -12px;
}

#cursor.active {
	background-position: -578px -43px;
}

#ui {
	width: 100%;
	height: 100%;
}

	#ui .panels {
		width: 600px;
		height: 330px;
		text-align: center;
	}

#logo { 
 z-index:5;
	background-position: 0px 0px;
	position: absolute;
	width: 280px;
	height: 275px;
	left: 50%;
	margin-left: -140px;
	top: 0px;
	display: none;
}


	.home #logo {
		display: block;
	}
	
	#logo2fin { 
	display: none;
 z-index:6;
	background-position: 0px 0px;
	position: absolute;
	width: 280px;
	height: 275px;
	left: 50%;
	margin-left: -140px;
	top: 0px;
	
	background:url('../images/nave2.gif') no-repeat scroll left top transparent;
	background-size:100% 100%, 0px 0px, auto auto;
	background-repeat:no-repeat;
	
	-webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
	
	
}
	

#start-button {
	background-position: -331px -30px;
	display: none;
	position: relative;
	width: 118px;
	height: 25px;
	top: 190px;
	left: 50%;
	margin-left: -59px;
	
	/*z-index:8;
	
	background-repeat: no-repeat;
	*/
	
	
}

	#start-button:hover {
		background-position: -331px -60px;
	}

#mute-button {
	display: block;
	width: 145px;
	height: 120px;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index:9999;/**/
	
	
}

#mute-button2 {
	display: block;
	width: 65px;
	height: 20px;
	position: fixed;
	right: 10px;
	top: 10px;
}
	#mute-button2 {
		background-position: -12px -287px;
	}
	#mute-button2.sound-is-off {
		background-position: -9px -317px;
	}
	
#pause-button {
	display: block;
	width: 136px;
	height: 120px;
	position: fixed;
	left: 10px;
	top: 10px;
	
	z-index:9999;
}
#pause-button2 {
	display: block;
	width: 36px;
	height: 20px;
	position: fixed;
	left: 10px;
	top: 10px;
}
	#pause-button2 {
		background-position: -13px -347px;
	}
	#pause-button2.resume {
		background-position: -13px -377px;
	}

#level-indicator {
	display: none;
	text-align: center;
	width: 100%;
	position: absolute;
	left: 0;
	top: 460px;
}
	#level-indicator span {
		font-weight: bold;
		font-size: 11px;
		text-transform: uppercase;
		color: #777;
		background: #fff;
		border-radius: 6px;
		padding: 8px 16px;
		box-shadow: 0 1px 4px #aaa;
		-o-box-shadow: 0 1px 4px #fff;
		-moz-box-shadow: 0 1px 4px #fff;
		-webkit-box-shadow: 0 1px 4px #fff;
	}

#instructions {
	background-position: -200px -120px;
	width: 208px;
	height: 160px;
	position: absolute;
	top: 82px;
	left: 50%;
	margin-left: -104px;
	display: none;
}
	.instructions #instructions{
		display: block;
	}

#score-ongoing {
	display: none;
	position: absolute;
	width: 90px;
	left: 50%;
	top: 166px;
	margin-left: -45px;
	color: #d2d2d2;
	font-size: 13px;
	letter-spacing: 1px;
}
	
#level-selector {
	position: absolute;
	width: 300px;
	left: 50%;
	top: 250px;
	margin-left: -150px;
	display: none;
}
	#level-selector ul li {
		background-position: -330px -130px;
		width: 62px;
		height: 62px;
		display: inline-block;
		cursor: pointer;
		margin: 0 -9px;
	}
	
	#level-selector ul li span {
		position: relative;
		top: 20px;
		font-size: 11px;
		font-weight: normal;
		color: #fcfeff;
		text-shadow: 0 0 2px rgba(255,255,255,0.5);
	}
	
	#level-selector ul li.current:hover,
	#level-selector ul li.enabled:hover {
		background-position: -330px -200px;
	}
	
	#level-selector ul li.disabled {
		background-position: -330px -270px;
		cursor: default;
	}
	
	#level-selector ul li.disabled span {
		text-shadow: none;
	}
	
	#level-selector ul li.disabled span {
		color: #fcfeff;
		color: rgba(255,255,255,0.18);
	}

	
#score-outcome {
	display: none;
	position: absolute;
	width: 120px;
	left: 50%;
	top: 50px;
	margin-left: 40px;
	font-size: 13px;
	text-shadow: 0 0 8px rgba(255,255,255,0.5);
	letter-spacing: 1px;
	z-index:8;
}
	#score-outcome h4 {
		font-size: 10px;
		text-transform: uppercase;
	}
	#score-outcome span {
		color: #d2d2d2;
	}
	
#high-score {
	display: none;
	position: absolute;
	width: 120px;
	left: 50%;
	top: 50px;
	margin-left: -60px;
	font-size: 13px;
	text-shadow: 0 0 8px rgba(255,255,255,0.5);
	letter-spacing: 1px;
}
	#high-score h4 {
		font-size: 10px;
		text-transform: uppercase;
	}
	#high-score span {
		color: #d2d2d2;
	}
	
	.gameover #high-score {
		margin-left: -160px
	}
